<%= form_for @organization do |org| %>
<p>
	<%= org.label :name, "Name:" %>
	<%= org.text_field :name %>

</p>

<p>
	<%= org.label :organization_type, "Type of organization:" %>
	<%= org.text_field :organization_type %>

</p>

<p>
	<%= org.label :organization_email, "Email:" %>
	<%= org.text_field :organization_email %>

</p>

<p>
	<%= org.label :organization_phone_number, "Business Address:" %>
	<%= org.text_field :organization_phone_number %>

</p>

<p>
<%= org.submit %>
</p>

<%end%>